<h2>Post Detalhado</h2>
<div class="detail-container">

  <div class="loading-container" *ngIf="loading">

    <mat-spinner diameter="50"></mat-spinner>
    <p>Carregando posts...</p>
  
  </div>
  
  <mat-card class="post-card"  *ngIf="!loading && post">

    <mat-card-header>

      <mat-icon mat-card-avatar>account_circle</mat-icon>

      <mat-card-title>
        {{ post.title }}
      </mat-card-title>
      
      <mat-card-subtitle *ngIf="user">
        {{ user.name }}
      </mat-card-subtitle>

    </mat-card-header>

    <mat-divider></mat-divider>
    <mat-card-content>

      <p class="post-body">
        {{ post.body }}
      </p>

    </mat-card-content>


  </mat-card>

</div>