<mat-form-field appearance="outline" class="search-field">

  <mat-icon matPrefix>search</mat-icon>

  <mat-label>Buscar post</mat-label>

  <input
    matInput
    placeholder="Digite o título..."
    [(ngModel)]="searchTerm"
    (input)="filterPosts()"
  >

  
  <button
  mat-icon-button
  matSuffix
  *ngIf="searchTerm"
  (click)="clearSearch()">
  
  <mat-icon>close</mat-icon>
  
</button>
 </mat-form-field>

 <div *ngIf="error" class="error">
 
   <mat-card>
     <mat-card-title>Erro ao carregar posts</mat-card-title>
     <mat-card-content>
       Tente atualizar a página.
     </mat-card-content>
   </mat-card>
 
 </div>
 <div class="loading-container" *ngIf="loading">

  <mat-spinner diameter="50"></mat-spinner>
  <p>Carregando posts...</p>
</div>

<div class="posts-grid">
  
  <mat-card *ngFor="let post of filteredPosts" class="post-card">
  
  
      <mat-card-title>
        {{post.title}}
      </mat-card-title>
  
      <mat-card-content>
        <p>Usuário: {{post.userName}}</p>
      </mat-card-content>
  
      <mat-card-actions>
        <button mat-raised-button color="primary"
          [routerLink]="['/posts', post.id]">
          Ver detalhes
        </button>
      </mat-card-actions>
  
      </mat-card>
</div>
  
    
    
