<mat-form-field appearance="outline" class="search-field">

  <mat-label>Buscar post</mat-label>

  <input
    matInput
    placeholder="Digite o título..."
    [(ngModel)]="searchTerm"
    (input)="filterPosts()"
  >

</mat-form-field>

<div class="posts-grid">

  <div *ngIf="loading">
    Carregando...
  </div>
  
  <mat-card *ngFor="let post of filteredPosts | slice:0:20" class="post-card">
  
  
      <mat-card-title>
        {{post.title}}
      </mat-card-title>
  
      <mat-card-content>
        <p>Usuário: {{post.userId}}</p>
      </mat-card-content>
  
      <mat-card-actions>
        <button mat-raised-button color="primary"
          [routerLink]="['/posts', post.id]">
          Ver detalhes
        </button>
      </mat-card-actions>
  
      </mat-card>
</div>
  
    
    
